@charset "utf-8";
/* CSS Document */
#c3{ width:1000px; height:1000px margin:0px; padding:0px; position:relative;}
#c3 #c3-s{ width:1000px;  margin:0px; padding:0px; position:relative;}
#c3 #c3-s-z{ width:300px; height:380px;  float:left; margin:0px; padding:0px; position:relative;}
#c3 #c3-s-z img{ max-height:380px; max-width:300px; margin:0px; padding:0px;}
#c3 #c3-s-y{ width:700px; height:380px;  float:left; position:relative;}

/*top部分代码*/
#c3 #c3-s-y #c3-s-y-top{ width:700px; height:65px; display:block; margin:0px; padding:0px; margin-bottom:20px;}
#c3 #c3-s-y #c3-s-y-top h2{ width:100px; height:35px; display:block; float:left; position:relative; margin-top:15px; line-height:35px; font-size:26px;}
#c3 #c3-s-y #c3-s-y-top h2 a{ text-decoration:none; color:#000; margin-left:30px;}
#c3 #c3-s-y #c3-s-y-top #fx{ width:300px; height:40px; float:right ;color:#9F9999;background:#F5F5F5; border:solid 1px #E5E5E5; font-weight:bold; padding-top:15px;}
#c3 #c3-s-y #c3-s-y-top #fx .sc{ width:100px; height:40px; display:block; float:left;background:#71A000; font-weight:bold; margin-top:-15px; padding-top:15px; padding-left:10px;}
#c3 #c3-s-y #c3-s-y-top #fx strong{ display:block; float:left; margin-left:20px;}
#c3 #c3-s-y #c3-s-y-top #fx span{ width:100px; height:28px; display:block; float:left;margin-top:2px; margin-left:10px;}
#c3 #c3-s-y #c3-s-y-top #fx a{ text-decoration:none; color:#FFF; margin-right:5px;}

/*center部分代码*/
#c3 #c3-s-y #c3-s-y-center{ width:700px; height:210px; margin:0px; padding:0px; float: left; position:relative;}
#c3 #c3-s-y #c3-s-y-center li{ list-style:none; width:285px; height:100px; border:1px solid #eee; float:left; padding-left:15px; font-size:18px;}
#c3 #c3-s-y #c3-s-y-center li.kz{ width:79px;}
#c3 #c3-s-y #c3-s-y-center li strong{ color:#999; display:block;line-height:40px; font-weight:normal; font-size:16px;}
#c3 #c3-s-y #c3-s-y-center li.kz a{ color:#78AA00; font-size:24px; font-weight:bold; text-decoration:none;}
#c3 #c3-s-y #c3-s-y-center li.kc-x{ width:285px; margin:0px; padding:0px;}
#c3 #c3-s-y #c3-s-y-center li span{ display:block; float:left; margin-top:10px;}
#c3 #c3-s-y #c3-s-y-center li.kc a{ color:#666666; font-size:16px; text-decoration:none; display:block; float:left; margin-top:18px;}

/*bottom部分代码*/
#c3 #c3-s-y #c3-s-y-bottom{ width:700px; height:100px; margin:0px; padding:0px; float:left; border:1px solid #eee; }
#c3 #c3-s-y #c3-s-y-bottom a{display:block; float:left;}
#c3 #c3-s-y #c3-s-y-bottom .xinxi{ width:200px; height:80px; float:left; display:block;  margin-top:10px;margin-left:15px;}
#c3 #c3-s-y #c3-s-y-bottom h2{ font-size:20px; width:200px; display:block; margin:0px; padding:0px; color:#76A800; font-size:18px;}
#c3 #c3-s-y #c3-s-y-bottom span{display:block; margin:0px; padding:0px; font-weight:normal; color:#000; font-size:12px; margin-top:5px; margin-bottom:5px;} 
#c3 #c3-s-y #c3-s-y-bottom strong{display:block; margin:0px; padding:0px;color:#999999; font-size:12px; font-weight:normal;}

/*c3-z部分代码*/
#c3 #c3-z{ width:985px;display:block; float:left; margin:15px 15px 0px 10px; padding:0px; color:#666666; text-indent:24px; line-height:30px;}
#c3 #c3-z strong{ color:#dddddd; font-size:24px;}
#c3 #c3-z .yl{ width:900px; height:35px; display:block; margin:0px; padding:0px; color:#000; font-size:24px; font-weight:normal;}
#c3 #c3-z #c3-z-x{ width:900px; height:240px; float:left; margin:0px; padding:0px;}
#c3 #c3-z #c3-z-x h2{ width:70px; height:30px; display:block; float:left; margin:0px; padding:0px; background:#76A800;/*color:#9F9999;*/ colo#FFF; font-size:16px; font-weight:normal; margin-top:30px; margin-left:15px;margin-right:15px;}
/*此处开始可能也要修改*/#c3 #c3-z #c3-z-x ul{ width:800px; height:240px; float:left; margin:0px; padding:0px; list-style:none; overflow:hidden;}
#c3 #c3-z #c3-z-x ul{ list- style:none; width:800px; }
#c3 #c3-z #c3-z-x ul li a{width:300px; height:70px; display:block; float:left; margin:0px; padding:0px; border-right: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE; border-top: 1px solid #EEEEEE; color:#000;}
#c3 #c3-z #c3-z-x  a h5{ width:80px; height:50px; display:line-block; float:left; color:#333356; font-size:14px; font-weight:normal; margin-top:20px;}
#c3 #c3-z #c3-z-x  a h6{ width:80px; height:50px; display:line-block; float:right; color:#C0B3A7; font-size:12px; font-weight:normal; margin-top:20px; }
/*此处是要修改的地方*//*#c3 #c3-z #c3-z-x #zl{ width:900px; height:100px; float:left; margin:0px; padding:0px; border-top:2px solid #EEEEEE;border-bottom:2px solid #EEEEEE;}*/
#c3 #c3-z #c3-z-x #fl{ width:900px; height:240px; float:left; margin:0px; padding:0px;}


/*c3-x部分代码*/
#c3 #c3-x{ width:100px; float:left; margin:0px; padding:0px;}
#c3 #c3-x h2{ width:1000px; height:50px; display:block; float:left; border-bottom:1px solid #EEEEEE; font-weight:normal; padding-top:15px; padding-left:15px; color:#333333;}
#c3 #c3-x #step{ width:1000px; display:block; float:left; margin:0px; padding:0px;}
#c3 #c3-x #step em{ width:120px; height:50px; color:#78AA00; display:block; float:left; font-size:50px; text-indent:24px;}
#c3 #c3-x #step #step1{ width:850px; display:block; float:left;}
#c3 #c3-x #step #step1 p{ color:#706670;}
#c3 #c3-x #step #step1 img{ max-height:200px; max-width:200px;}

