@charset "utf-8";
body{margin:0px;padding:0px;font-family:"华文细黑";}
#main{ width:1000px; height:1000px; margin:0px auto;}
/*header部分代码开始（包含nav导航条部分）*/
#header {position: relative;background:#FFFFFF;padding: 0px;float: left;height:130px;width: 100%;/*visibility: visible;*/}
#header #login {height: 70px;width: 1000px;margin:0 auto;float:left;position:relative;padding-top:10px;background:#70A000;/*background-color:#335533;*/}
#header #login #login_bz {position:relative;margin-right:35px;padding: 0px;float: left;height: 60px;width: 200px;}
#header #login #login_bz img{ max-width:200px; max-height:100px;  margin-left:20px;}
#header #login #hd_search{position:relative;width: 450px;height: 50px;float:left;margin-top:10px;}
#header #login #hd_search #search_txt{position:relative;width:350px;height:35px;color:#999999;/*margin-left:50px;*/border:1px solid #E3E9EF;}
#header #login #hd_search #search_bt{position:relative;width:80px;height:38px;background:#73A300;color:#FFF;cursor:pointer;border:1px solid #E3E9EF;border-left:0px;margin-left:-5px;}
#header #login #denglu{ width:300px; height:35px; display:block; float:right; margin-right:5px; padding:0px;margin-top:13px; margin-left:10px;}
#header #login #denglu button{ width:50px; height:35px; display:block; float:left; background:#73A300; cursor:pointer; color:#FFF; border:1px; position:relative;}
#header #login #denglu button b{font-weight: normal;margin-top:-3px;}

/*导航条nav代码开始*/
#header #nav{ width:1000px; height:40px; margin:0 auto; padding:0; background:#F9F9F9;border-top:1px solid #E9E9E9; float:left;
position:relative;list-style:none;}
#header #nav li a{ color:#000000; line-height:38px; text-decoration:none; width:100px; display:block; float:left; text-align:center; margin-top:2px; font-weight:bold;}	
#header #nav li a:hover{background:#FFFFFF; color:#6A9700; border-left:1px #DBDBDB solid; border-right:1px #DBDBDB solid;}
	#header #nav li .fl{ width:200px;background:#F3F3F3;}
	#header #nav li .cpdq{background:#FFFFFF; color:#6A9700; border-left:1px solid #DBDBDB; }
#header #nav li:hover ul{ display:block;}
#header #nav li ul{ width:200px; height:140px margin:opx; padding:0px; position:absolute; left:0px; top:45px; margin:0px; display:none;}
#header #nav li ul li{ list-style:none; width:200px;}
#header #nav li ul a{color:#CCC;text-decoration:none;width:150px;display:block;font-weight: normal; text-align:left; padding-left:50px;line-height:30px;} 
#header #nav li ul li a:hover{ background:#F9F9F9; border:0px; color:#ccc;}	
/*导航条nav代码结束*/
/*header部分代码结束（包含nav导航条部分）*/