@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px;}
#tszx{ width:1000px; height:220px; margin:0px; padding:0px; float:left;/*margin-left:20px;*/ position:relative;}
/*最新菜谱样式开始*/
#tszx #zuixincaipu{ width:480px; height:200px; margin:0px; padding:0px; float:right;/*margin-left:20px;*/ position:relative;}
#tszx #zuixincaipu #zuixin{ width:155px; height:160px; display:block; float:left; margin:0px; padding:0px;position:relative; margin-top:5px; margin-right:5px;}
#tszx #zuixincaipu #zuixin img{max-width:155px; max-height:125px; width:160px; height:125px; display:block; float:left;}
#tszx #zuixincaipu #zuixin span img{ max-width:35px; max-height:35px; width:35px; height:35px; display:block; float:left; margin-right:3px;}
/*最新菜谱样式结束*/
/*特色菜谱样式开始*/
#tszx h3{ width:480px;  height:25px; display:block; float:left; font-weight:normal; font-family:serif; color:#6C9803; font-size:18px; border-bottom:1px solid #6C9803;}
#tszx h3 a{ width:40px; height:20px; display:block; float:right; margin:0px; padding:0px; font-size:12px; font-weight:normal;}
/*#tsc{ width:180px; height:230px; margin:0px; padding:0px; float:left; margin-top:-20px;}
#tsc img{max-width:178px; height:210px;}*/
#tszx #tesecai{ width:480px; height:210px; margin:0px; padding:0px; float:left;/*margin-left:20px;*/ position:relative;}
#tszx #tesecai #xdjh{ width:153px; height:170px; float:left; margin:0px; padding:0px;position:relative; margin-top:5px; margin-left:5px;}
#tszx #tesecai #xdjh span img{ max-width:75px; max-height:75px; width:75px; height:75px; display:block; float:left;}
#tszx #tesecai #xdjh span img.yi{ margin-right:2px; margin-bottom:2px;}
#tszx #tesecai #xdjh span img.er{ margin-bottom:2px;}
#tszx #tesecai #xdjh span img.san{ margin-right:2px;}
#tszx #tesecai #xdjh p{ width:160px; height:20px; display:block; float:left; text-align:center; color:#70A000;}
/*特色菜谱样式结束*/
/*tab选项卡样式开始*/
/*menu1box css样式代码*/
#tab{ width:1000px; height:200px; float:left; margin:0px; padding:0px;}
#tab .menu1box {height: 40px;width:1000px; display:block;position:relative;overflow:hidden;float:left; margin:0px; padding:0px;}
#tab #menu1{width: 1000px; list-style:none;line-height:20px; margin:0px; padding:0px;}
#tab #menu1 li{width:100px;height:40px;display:block;float:left;border:#fff solid 1px;/*text-align:center;*/ /*margin-right:-2px;*/cursor:pointer;}
#tab #menu1 li a{text-decoration:none; color:#666666;}
#tab #menu1 li a:hover{color:#6C9803;}
/*main css样式代码*/							
#tab .main1box , #main1{width:1000px;height:215px;overflow:hidden; margin:0px; padding:0px;}
#tab #main1 ul{/*padding-left:8px;*/list-style:none;text-align:center;}
#tab #main1 ul li { display:block; float:left; margin-right:8px; list-style:none;}
#tab #main1 ul li p{margin-bottom:3px; color:#666666;}
/*tab选项卡样式结束*/			
